* {
    margin: 0%;
    font-family: 'Rubik', sans-serif;
    padding: 0%;
}




@import "./partials/header";
@import "./partials/productos";
@import "./partials/quienes-somos";
@import "./partials/contacto";
@import "./partials/tips";
@import "./partials/footer";

