.titulo-contacto {
    text-align: center;
    font-size: 25px;
    padding: 30px;

}


.enviar {
    margin-bottom: 10px;
    text-align: center;
}


.img-contacto {
    text-align: center;

}

.texto-contacto {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
