@import "../base/variables";


.inicio-contacto{
    background-color:  $colorSecundario;
    padding-bottom: 10px;
    padding-right: 20px;

    .titulo-contacto {
      text-align: center;
      font-size: 25px;
      padding: 30px;
  
  }

}

.boton-contacto{
  text-align: center;
  margin-bottom: 50px;
  text-decoration: none;
  border-radius: 8px;
}



.formulario{
  margin: 20px;

    .formulario-nombre{
      border: 5px ridge $colorPrimario;
      
    }
}


