@import "../base/variables";

footer {
    text-align: center;
    background-color: $colorPrimario;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 2px;

    .redes-sociales{
        margin: 10px;
        display: inline-block;
    }
}