@import "./mixin";
@import "../base/variables";
@import "../base/extend";

.header {
    display: flex;
    justify-content: end;
   flex-direction: column-reverse;
   padding: 30px;
}


.titulo-texto{
    text-shadow: 1px 1px 2px rgb(255, 230, 0);
}

.subtitulo {
    background-color:  $colorSecundario;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    

    .seccioncentral{
        justify-items: center;

        .productos-inicio {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 15px;
            margin-top: 25px;
           @extend .borde-basico;
           font-family: 'Roboto Slab', serif;
            font-size: 25px;
           
            
        }
        
    }
}

.inicio {
    width: 550px;
    height: 350px;
    @include bordes;
    margin-top: 25px;
    
}


.comprar {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    
    

}

b:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}




/* acomodar las areas */
@media  (min-width:400px) and (max-width:500px) {

    .inicio  {
        width: 305px;
    }

    .inicio-video{
        width: 280px;
        height: 350px;
    }

    .ul {
        padding: 10px;
    }

    footer {
        margin: auto;
    }

}

@media (max-width:580px){
    .inicio{
        width: 300px;
    }
}
