@import "./mixin";
@import "../base/variables";
@import "../base/extend";

.productos-titulo  {
    text-align: center;
    padding: 12px;
    margin-top: 10px;
    margin: auto;
    font-size: 20px;
    background-color: $colorSecundario;
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px 2px rgb(255, 230, 0);

.productos-comprar {
        text-align: center;
        margin: 50px;
        @extend .borde-basico;
        font-family: 'Roboto Slab', serif;   }
    
}

.card{
   
    @include bordes;
    display: inline-block;
    margin:25px;
    
}


