@import "./mixin";
@import "../base/variables";
@import "../base/extend";

.productos-titulo  {
    text-align: center;
    padding: 12px;
    margin-top: 10px;
    margin: auto;
    font-size: 20px;
    background-color: $colorSecundario;

.productos-comprar {
        text-align: center;
        margin: 50px;
        @extend .borde-basico;
        font-family: 'Varela Round', sans-serif;
    }
    
}

.card{
   
    @include bordes;
    display: inline-block;
    margin:25px;
    
}
