@import "../mixin";
@import "../base/extend";


.tips-titulo {
    text-align: center;
    font-size: 15px;
    margin: auto;
    padding-top: 10px;
    background-color: $colorSecundario;
    border-radius: 50px;
    text-align: center;

}

        .fondo-tips {
            background-color: $colorSecundario;

            .tips-videos {
                padding-top: 15px;
                margin-bottom: 10px;
                margin-left: 100px;
                
                .videos {
                    margin: 2px;
                    @include bordes;
                }
                
             }
        }
    

@media  (min-width:400px) and (max-width:600px){
    .videos{
        width: 250px;
        height: 250px;
    }


    footer{
        margin: auto;
    }
}
